
<% layout("/layouts/boilerplate") %>
 <body>
   <style>
    #filters{
      display: flex;
      flex-wrap: wrap;
    }
    .filter{
      text-align: center;
      margin-right: 2rem ;
      margin-top: 1.5rem;
      opacity: 0.6;
    }
    .filter:hover{
      opacity: 1;
      cursor: pointer;
    }
    .filter p{
      font-size: 0.8rem;
    }
   </style> 


<div id="filters">
  <div class="filter">
    <div><i class="fa-solid fa-fire"></i></div>
    <p>Trending</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-bed"></i></div>
    <p>Rooms</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-mountain-city"></i></div>
    <p>Iconic Cities</p>

  </div>

  <div class="filter">
    <div><i class="fa-solid fa-mountain"></i></div>
    <p>Mountains</p>
  </div>

  <div class="filter">
    <div><i class="fa-brands fa-fort-awesome"></i></div>
    <p>Castles</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-person-swimming"></i></div>
    <p>Amazing pools</p>
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-campground"></i></div>
    <p>Camping</p>
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-tractor"></i></div>
    <p>Farms</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-snowflake"></i></div>
    <p>Arctic</p>
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-umbrella-beach"></i></div>
    <p>Beach</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-street-view"></i></div>
    <p>Amazing views</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-face-surprise"></i></div>
    <p>OMG!</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-water"></i></div>
    <p>Lake Front </p>
  </div>
    <div class="filter">
    <div><i class="fa-solid fa-cable-car"></i></div>
    <p>Cabin </p>
  </div>
</div>



    <div class="row row-cols-lg-3  row-cols-md-2 row-cols-sm-1">
      <% for(let listing of allListings){ %>
        <a href="/listings/<%= listing._id %>" class="listing-link">
          <div class="card " style="width: 20rem;">
            <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
            <div class="card-img-overlay"></div>
            <div class="card-body">
              <p class="card-text">
               
                  <b> <%= listing.title %> <br></b>
                
              &#8377; <%= listing.price %>/night
              <!-- toLocaleString("en-IN") -->
              </p>
            </div>
          </div>
        </a>
        <% } %>
    </div>


  </body>